.contenedor{
    display: flex;
    flex-direction: row;
}
#contenido{
    display: flex;
    flex-direction: column;
}
#destacados .contenedor > div{
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 50%;
}
#ofertas .contenedor > div{
    text-align: center;
    padding: 10px;
    margin: 10 px;
    background-color: white;
    width: 33.3%;
}
#disponible .contenedor > div{
    text-align: center;
    padding: 10px;
    border: solid 50px coral;
    width: 25%
}